.static {
    position: static;
    border: 3px solid #73AD21;
  }

.relative {
    position: relative;
    border: 3px solid #73AD21;
    top: 5px;
    left: 15px;
  }

.absolute {
    position: absolute;
    border: 3px solid #73AD21;
    top: 5px;
    left: 15px;
  }

.fixed {
    position: fixed;
    border: 3px solid #73AD21;
}

.sticky {
    position: sticky;
    border: 3px solid #73AD21;
    top: 100px;
}